body {
    background-color: #eee;
  }
  
  @media (max-width: 767.98px) {
    .border-sm-start-none {
      border-left: none !important;
    }
  }
  .text-center {
    display: flex;
    justify-content: center;
  }